<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navigation' %>
    <main class="flex-shrink-0">
      <div class="container">
        <div class="bg-light p-5 rounded">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </main>
    

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container text-center">
        <span class="text-muted">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Cindy Le</span>
      </div>
    </footer>
  </body>
</html>
