<% if @chapter.errors.any? %>
  <h2>The following errors prevented the chapter from being saved</h2>
  <ul>
    <% @chapter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @chapter, local: true) do |f| %>
  <div class="input-group">
    <p><%= f.text_field :chapter_num, placeholder: 'Chapter number', class: "form-control" %></p>
    <p><%= f.text_field :title, placeholder: 'Chapter title', class: "form-control" %></p>
    <p><%= f.text_field :page_start_at, placeholder: 'Chapter starts at', class: "form-control" %></p>
    <p><%= f.submit class: "btn btn-outline-success btn-md" %></p>
  </div>
<% end %>

<%= link_to 'Cancel and return to chapters listing', chapters_path, class: "btn btn-warning text-light btn-sm" %>