<h1>Create a new chapter</h1>

<%= form_with scope: :chapter, url: chapters_path, local: true do |f| %>
  <p>
    <%= f.text_field :chapter_num, placeholder: 'Num' %>
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_field :page_start_at, placeholder: 'Starts at' %>
    <%= f.submit %>
  </p>
<% end %>