<h1><%= @chapter.material.slides_filename if @chapter.material %></h1>

<p>
  <strong>Chapter Number:</strong>
  <%= @chapter.chapter_num %>
</p>
<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>
<p>
  <strong>Starts at:</strong>
  <%= @chapter.page_start_at %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter), class: "btn btn-outline-info" %>
<%= link_to 'Delete', chapter_path(@chapter), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>